{% extends "base.html" %}
{% block main_content %}
<div class="wrap404">
    <div class="logo">
        <h1><a href="#"><img src="/static/images/404.png"></a></h1>
        <span><img src="/static/images/signal.png">Oops! The Page you requested was not found!</span>
    </div>
</div>
{% endblock %}
