{%- set slot_conf_project_url = config['SLOTS_CONFIG_REPOSITORY'].replace('.git', '') -%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="LHCb Core Software">
    <link rel="icon" href="{{url_for('static', filename='images/lhcb_logo_icon.png')}}">

    <title>{% if title %}{{title}}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://framework.web.cern.ch/framework/2.0/cern_toolbar/css/toolbar.css" rel="stylesheet"
        type="text/css" media="screen" />
    <link href="/static/css/bootstrap-treeview.css" rel="stylesheet">
    <link href="/static/css/toastr.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <!-- Custom styles for this template -->
    <link href="/static/css/lhcb_nightlies.css" rel="stylesheet">

</head>

<body>

    <div id="cern-toolbar">
        <h1>
            <a href="http://home.cern" title="CERN">
                CERN <span>Accelerating science</span>
            </a>
        </h1>
        <ul>
            <li>
                <a class="cern-directory" href="http://cern.ch/directory"
                    title="Search CERN resources and browse the directory">
                    Directory
                </a>
            </li>
            <li>
                {% if "username" in session %}
                Signed in as: {{ session["username"] }}
                <a class="cern-login" href="{{url_for('logout')}}">Logout</a>
                {% else %}
                <a class="cern-login" href="{{url_for('login')}}">
                    Sign in
                </a>
                {% endif %}
            </li>
        </ul>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="banner">
        <div class="overlayer">
            <div class="container">
                <h2>
                    <a href="http://lhcb.cern.ch">
                        <img src="{{url_for('static', filename='images/lhcb_logo.png')}}" alt="LHCb" height="80"
                            width="120">
                    </a>

                    <span id="page-title">{% block title %}<a
                            href="{% if slot %}{{url_for('main', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id)}}{% else %}{{url_for('main', flavour=flavour)}}{% endif %}">{%
                            if title -%}
                            {{ title }}
                            {%- elif slot -%}
                            Summary for {{ (slot.flavour + "/") if slot.flavour != "nightly" else
                            ""}}{{slot.name}}/{{slot.build_id}}
                            {%- else -%}
                            LHCb {{ flavour|capitalize }} Builds {% if day and day != "latest" %}({{day}}){% endif %}
                            {%- endif %}</a>{% endblock %}</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-default" id="menu_bar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{url_for('main', flavour='nightly')}}">Nightly builds</a>
                        </li>
                        <li>
                            <a href="{{url_for('releases')}}">Release builds</a>
                        </li>
                        <li>
                            <a href="{{url_for('periodic')}}">Periodic tests</a>
                        </li>
                        {% block extra_menu_head %}{% endblock %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://gitlab.cern.ch/lhcb-core/lb-nightly-builds-frontend/-/issues/new"
                                target="_blank">Report a bug</a>
                        </li>
                        {%- block menu -%}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                Other links <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{url_for('main', flavour='testing')}}">Testing builds</a>
                                </li>
                                <li>
                                    <a href="{{url_for('docs')}}">Frontend documentation</a>
                                </li>
                                <li>
                                    <a href="https://monit-grafana.cern.ch/d/Wo5j7yAGk/lhcb-core-main?orgId=46&refresh=1m&from=now-30m&to=now"
                                        target="_blank">Core Software main dashboard</a>
                                </li>
                                <li>
                                    <a href="https://monit-grafana.cern.ch/d/N9HdQ3hMk/cvmfs-installations?orgId=46&refresh=1m"
                                        target="_blank">CVMFS installation status</a>
                                </li>
                                <li>
                                    <a href="{{slot_conf_project_url}}" target="_blank">Slots
                                        configuration (Gitlab)</a>
                                </li>
                                <li>
                                    <a href="https://its.cern.ch/jira/secure/CreateIssueDetails!init.jspa?pid=11500&components=11303&issuetype=1"
                                        target="_blank">Report a bug (JIRA)</a>
                                </li>
                            </ul>
                        </li>
                        {%- endblock -%}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div>
            {% block slot_quick_menu %}{% endblock %}
            {% block main_content %}{% endblock %}
        </div>
        <hr>
        <footer>
            <img class="pull-right" src="{{url_for('static', filename='images/badge_80.png')}}" alt="CERN" />
            <p>&copy; CERN - European Laboratory for Particle Physics, CH-1211,
                Genève 23, Switzerland</p>
            {% if config['APPINFO'] %}
            <p>Page generated by
                <a href="https://gitlab.cern.ch/{{config['APPINFO'].project}}/-/tree/{{config['APPINFO'].commit}}">
                    {{config['APPINFO'].project}}@{{config['APPINFO'].commit[0:8]}}
                </a>
            </p>
            {% endif %}
        </footer>
    </div> <!-- /container -->
    <a href="#" class="back-to-top">Back to Top</a>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        var flavour = '{{ flavour }}';
        var JENKINS_JOB_URL = 'https://lhcb-jenkins.cern.ch/jenkins/job/nightly-slot-build-platform/';
        var HOST_MONITOR_PREFIX =
            'https://meter.cern.ch/public/_plugin/kibana/#/dashboard/elasticsearch/Metrics:%20Host?query=@fields.entity:';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')
    </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/jquery.floatThead.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/back_to_top.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <script>
        if (!document.title)
            document.title = $('#page-title').text();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
            $('[data-toggle="popover"]').popover({
                container: 'body'
            });
            $('[data-toggle="pkglist-popover"]').popover({
                container: 'body'
            }).attr('title', 'list of packages');
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>

</html>
