{% extends "base.html" %}

{% block slot_quick_menu %}
{%- if slots|length > 1 -%}
<div id="rightSlideBar" class="hidden-xs hidden-sm">
    <div class="panel panel-default panel2">
        <div class="panel-leftheading">
            <h3 class="panel-lefttitle">
                <span><i class="glyphicon glyphicon-search"></i> All slots</span>
            </h3>
        </div>
        <div class="panel-rightbody">
            <div>
                <h4>List of slots</h4>
                <div id="slots_links">
                    {% for slot in slots -%}
                    <a class="btn btn-info" style="margin:5px; width:220px; height: 35px;"
                        href="#{{slot.name}}_{{slot.build_id}}"
                        title="{{slot.name}}/{{slot.build_id}}">{{slot.name}}/{{slot.build_id}}</a>
                    {%- endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endif %}
{% endblock %}

{% block main_content %}
{%- if "builder" in session.get("roles", []) -%}
<div class="pull-right"><a href="{{url_for('start_slots_form', flavour=flavour)}}" class="btn btn-info">Start slots</a>
</div>
{%- endif -%}
{%- if page is defined -%}
{%- if config['LEGACY_COUCHDB_URL'] and config['COUCHDB_URL'] -%}
<div>You are looking at data from {{ "legacy" if legacy else "production" }} database. <a
        href="?legacy={{ 'false' if legacy else 'true' }}">Switch to {{ "production" if legacy else
        "legacy" }}</a></div>
{%- endif -%}
<table width="100%" style="margin-bottom: 10px;">
    <tr>
        <td style="text-align: left;">{%- if page -%}
            <a type="button" class="btn btn-info" href="?page={{ page - 1 }}">
                <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Newer builds</a>
            {%- endif -%}
        </td>
        <td style="text-align: right;">{%- if slots | length == 10 -%} <a type="button" class="btn btn-info"
                href="?page={{ page + 1 }}">
                Older builds&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
            {%- endif -%}
        </td>
    </tr>
</table>
{%- endif -%}
<div>
    {%- if week_dates -%}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="day_tabs">
        <li role="presentation" class="{{'active' if day == 'latest' else ''}}"><a
                href="{{url_for('main', flavour=flavour, day='latest')}}" id="latest_tab_name" aria-controls="latest"
                style="width:104px">
                Latest<br>Builds</a>
        </li>
        {% for i, date in week_dates %}
        <li role="presentation" class="{{'active' if day == date.strftime('%Y-%m-%d') else ''}}"><a
                href="{{url_for('main', flavour=flavour, day=date)}}" id="day_{{i}}_tab_name"
                aria-controls="day{{i}}">{{date.strftime("%A")}}<br>{{date}}</a></li>
        {% endfor %}
        <li>
            <div id="datepicker-panel">
                <div class="btn btn-info">Select<br>a date</div>
                <div id="datepicker" class="alert alert-info" {%- if day and day !="latest" %} data-date="{{day}}" {%-
                    endif -%}></div>
            </div>
        </li>
    </ul>
    {%- endif -%}
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="latest">
            {% for slot in slots %}
            <div class="comparator-selector table-bordered">
                <div id="{{slot.name}}_{{slot.build_id}}" class="table-responsive">
                    <table class="table table-striped table-white with-responsive-wrapper table-bordered slot-summary"
                        id="t_{{slot.name}}">
                        <thead>
                            <tr>
                                <th colspan="100" class="{{'aborted' if slot.aborted else ''}}">
                                    <h4>
                                        <img class="icon"
                                            src="{{url_for('static', filename='images/%s.png' % slot.build_tool)}}"
                                            alt="{{slot.build_tool}}">
                                        <a href="{{url_for('main', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id)}}"
                                            class="slot-title"
                                            title="{{'aborted by {} at {}'.format(slot.aborted.user, slot.aborted.time) if slot.aborted else ''}}">
                                            {{slot.name}}/{{slot.build_id}} ({{slot.date|fuzzy_date}})
                                        </a>{% if slot.build_pending %}<span class="glyphicon glyphicon-hourglass small"
                                            title="build not started yet"></span>{% endif %}
                                        {# other_builds are in reverse numerical order #}
                                        {% for other_build in slot.other_builds %}
                                        {% if other_build[0] == slot.build_id %}
                                        {% if loop.nextitem %}
                                        &nbsp;<a class="btn btn-info" style="padding: 3px 4px 1px;"
                                            href="{{url_for('main', flavour=slot.flavour, slot=slot.name, build_id=loop.nextitem[0])}}"><span
                                                aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                            prev</a>
                                        {% endif %}
                                        {% if loop.previtem %}
                                        &nbsp;<a class="btn btn-info" style="padding: 3px 4px 1px;"
                                            href="{{url_for('main', flavour=slot.flavour, slot=slot.name, build_id=loop.previtem[0])}}">next
                                            <span class="glyphicon glyphicon-chevron-right"
                                                aria-hidden="true"></span></a>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        <div class="pull-right with-margins">
                                            {% if slot.ci_test and slot.ci_test.is_test %}
                                            <a class="btn btn-success"
                                                href="{{url_for('compare', a='{0}/{1[0]}/{1[1]}'.format(slot.flavour, slot.ci_test.reference), b=slot.id)}}">
                                                Compare with reference build
                                            </a>
                                            <a class="btn btn-success"
                                                href="{{url_for('main', flavour=slot.flavour, slot=slot.ci_test.reference[0], build_id=slot.ci_test.reference[1])}}">
                                                Go to reference build
                                            </a>
                                            {% else %}
                                            {# the other_builds list contain also the current build #}
                                            {% if slot.other_builds|length > 1 %}
                                            <div class="btn-group">
                                                <a class="btn btn-success"
                                                    href="{{url_for('compare', a='{}/{}/{}'.format(slot.flavour, slot.name, slot.other_builds|map('first')|select('lessthan', slot.build_id)|first), b=slot.id)}}">
                                                    Compare with previous build
                                                </a>
                                                <button type="button" data-toggle="dropdown"
                                                    class="btn btn-success dropdown-toggle">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for id, date in slot.other_builds if id != slot.build_id %}
                                                    <li>
                                                        <a
                                                            href="{{url_for('compare', a='{}/{}/{}'.format(slot.flavour, slot.name, id), b=slot.id)}}">
                                                            Build {{id}} / {{date|fuzzy_date}}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                            {% endif %}
                                            {% if slots | length > 1 %}
                                            <button type="button" data-toggle="dropdown"
                                                class="btn btn-success dropdown-toggle"
                                                onclick="$('#second-slot').val('{{slot.id}}'); $('#compare-slots').modal()">
                                                Compare two slots
                                            </button>
                                            {% endif %}
                                            {% if "builder" in session.get("roles", []) -%}
                                            {% if flavour != "release" -%}
                                            <a type="button" class="btn btn-danger"
                                                href="{{url_for('start_slots_form', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id)}}">
                                                <span class="glyphicon glyphicon-refresh"></span>
                                                &nbsp;Restart</a>
                                            {%- endif %}
                                            {% if not slot.aborted -%}
                                            <button type="button" class="btn btn-danger"
                                                onclick="abort_slot_check('{{slot.id}}')">
                                                <span class="glyphicon glyphicon-remove"></span>
                                                &nbsp;Abort</button>
                                            {%- endif -%}
                                            {%- endif -%}
                                            {% if config['ARTIFACTS_BASE_URL'] or config['LEGACY_BASE_URL'] %}
                                            <a type="button" class="btn btn-info"
                                                href="{{url_for('browse_artifacts', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id)}}">
                                                <span class="glyphicon glyphicon-folder-open"></span>
                                                &nbsp;Browse artifacts</a>
                                            {% endif %}
                                        </div>
                                        <div style="clear:both"></div>
                                        <div>
                                            <span class="pull-right" style="padding:5px">
                                                <a href="{{url_for('get_slot_info', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id)}}"
                                                    target="_blank">
                                                    <img class="icon"
                                                        src="{{url_for('static', filename='images/couchdb.png')}}"
                                                        alt="CouchDB Entry">
                                                </a>
                                            </span>
                                            <span class="slot_description">
                                                {{slot.description|safe}}
                                                <br>
                                                <img alt="build badge" height="20"
                                                    src="{{url_for('badge', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, kind='build')}}">
                                                <img alt="tests badge" height="20"
                                                    src="{{url_for('badge', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, kind='tests')}}">
                                            </span>
                                        </div>
                                    </h4>
                                </th>
                            </tr>

                            <tr class="{{'aborted' if slot.aborted else ''}}">
                                <th rowspan="2">Project</th>
                                <th rowspan="2">Version</th>
                                {% for platform in slot.platforms %}
                                <th colspan="2">
                                    {{platform}}
                                    <!-- <br>
                                    <span class="annotation">
                                        Completed at 05:54:16
                                    </span>
                                    <span class="annotation pull-right">
                                        <a onclick="platform_compare(['x86_64-slc6-gcc49-dbg'], 'x86_64-slc6-gcc49-opt', '{{slot.name}}', '{{slot.build_id}}')"
                                            class="label label-success">
                                            Platform diff
                                        </a>
                                    </span> -->
                                </th>
                                {% endfor %}
                            </tr>
                            <tr class="{{'aborted' if slot.aborted else ''}}">
                                {% for platform in slot.platforms %}
                                <th>build</th>
                                <th>tests</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in slot.projects %}
                            {% set enabled_class = 'aborted' if slot.aborted else '' if project.enabled else 'disabled' %}
                            <tr class="{{enabled_class}}">
                                <td class="flags_class {{enabled_class}}">
                                    {% if project.checkout.retcode or project.checkout.retcode == 0 %}
                                    <strong>{{project.name}}</strong>
                                    <span class="pull-right">
                                        {%- if project.checkout.packages -%}
                                        <a tabindex="-1" class="glyphicon glyphicon-list" data-toggle="pkglist-popover"
                                            data-placement="auto right" data-html="true" data-content="&lt;ul&gt;{%- for package in project.packages -%}
                                                  &lt;li&gt;&lt;a href=&quot;{{url_for('checkout', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, project=package.name)}}&quot;&gt;{{package.name}} {{package.version}}&lt;/a&gt;&lt;/li&gt;
                                                {%- endfor -%}&lt;/ul&gt;" data-trigger="focus"></a>
                                        {%- elif project.packages -%}
                                        <span class="glyphicon glyphicon-list" data-toggle="popover"
                                            title="list of packages" data-placement="auto right" data-html="true"
                                            data-content="&lt;ul&gt;{% for package in project.packages %}&lt;li&gt;{{package.name}} {{package.version}}&lt;/li&gt;{% endfor %}&lt;/ul&gt;"
                                            data-trigger="hover"></span>
                                        {%- endif -%}
                                        {%- if project.checkout.merge_requests -%}
                                        <span class="glyphicon glyphicon-import"
                                            title="checkout has merge requests"></span>
                                        {%- endif -%}
                                        {%- if not project.checkout.packages -%}
                                        <a href="
                                            {{url_for('checkout', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, project=project.name)}}"
                                            title="show checkout log"><span class="glyphicon glyphicon-file"></span></a>
                                        {%- endif -%}
                                        {% if project.checkout.warnings or project.checkout.errors or
                                        project.checkout.retcode %}
                                        <span
                                            class="glyphicon glyphicon-warning-sign text-{{ 'danger' if project.checkout.errors or project.checkout.retcode else 'warning' }}"
                                            data-toggle="popover" title="checkout problems" data-placement="bottom"
                                            data-html="true"
                                            data-content="&lt;pre&gt;{{project.checkout|pprint}}&lt;/pre&gt;"
                                            data-trigger="hover"></span>
                                        {% endif %}</span>
                                    {% elif project.checkout.exception %}
                                    <em>{{project.name}}</em>
                                    {{ project.checkout.exception | report_exception("right") }}
                                    {% else %}
                                    <em>{{project.name}}</em>{% if project.enabled and project.checkout.running %}<span
                                        class="pull-right"><a href="{{project.checkout.running}}" title="running"
                                            target="_blank"><span
                                                class="glyphicon glyphicon-hourglass"></span></a></span>{% endif %}
                                    {% endif %}
                                </td>
                                <td class="{{enabled_class}}">
                                    <strong>{{project.version}}</strong>
                                </td>
                                {% for platform in slot.platforms %}
                                {% set build = project.results[platform].build %}
                                {% set tests = project.results[platform].tests %}
                                {% if build and not project.no_build %}
                                {% if build.running is defined %}
                                <td class="{{ enabled_class }}">
                                    <em>
                                        {%- if build.running %}
                                        <a href="{{build.running}}" target="_blank">running</a>
                                        {%- else -%}
                                        running
                                        {%- endif -%}
                                    </em>
                                </td>
                                {% elif build.failed is defined %}
                                <td class="label-danger {{ enabled_class }}">
                                    <em>
                                        {%- if build.failed %}
                                        <a href="{{build.failed}}" target="_blank">failed</a>
                                        {%- else -%}
                                        failed
                                        {%- endif -%}
                                    </em>
                                </td>
                                {% elif build.scheduled %}
                                <td class="{{ enabled_class }}"><em>enqueued</em></td>
                                {% elif build.exception %}
                                <td class="label-danger {{ enabled_class }}" style="color: white;">
                                    {{ build.exception | report_exception }}
                                </td>
                                {% else %}
                                <td class="{{ 'label-danger' if build.errors or build.retcode else ('label-warning' if build.warnings else 'label-success') }} {{ enabled_class }}"
                                    title="Build: {{build.warnings}} warnings, {{build.errors}} errors">
                                    <a style="color: white;"
                                        href="{{url_for('build', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, project=project.name, platform=platform)}}"><b>{{build.warnings}}
                                            / {{build.errors}}</b></a>
                                </td>
                                {% endif %}
                                {% else %}
                                <td class="{{'disabled' if project.no_build else enabled_class}}"></td>
                                {% endif %}
                                {% if tests -%}
                                {% if tests.running is defined %}
                                <td class="{{'disabled' if project.no_test else enabled_class}}">
                                    <em>
                                        {%- if tests.running -%}
                                        <a href="{{tests.running}}" target="_blank">running</a>
                                        {%- else -%}
                                        running
                                        {%- endif -%}
                                    </em>
                                </td>
                                {% elif tests.exception %}
                                <td class="label-danger {{ enabled_class }}" style="color: white;">
                                    {{ tests.exception | report_exception }}
                                </td>
                                {% else %}
                                <td class="{{ 'label-danger' if tests.FAIL else ('label-warning' if not tests.PASS else 'label-success') }} {{'disabled' if project.no_test else enabled_class}}"
                                    title="Tests: {{tests.PASS}} PASS, {{tests.FAIL}} FAIL, {{tests.PASS+tests.FAIL}} total">
                                    <a style="color: white;"
                                        href="{{url_for('tests', flavour=slot.flavour, slot=slot.name, build_id=slot.build_id, project=project.name, platform=platform)}}"><b>{{tests.PASS}}
                                            / {{tests.FAIL}}</b></a>
                                </td>
                                {% endif %}
                                {%- else -%}
                                <td class="{{'disabled' if project.no_test else enabled_class}}"></td>
                                {%- endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="compare-slots" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" action="{{url_for('compare')}}" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Compare two slots</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="first-slot">First slot:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="first-slot" name="a">
                                {% for slot in slots %}
                                <option value="{{slot.id}}">{{slot.name}}/{{slot.build_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="second-slot">Second slot:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="second-slot" name="b">
                                {% for slot in slots %}
                                <option value="{{slot.id}}">{{slot.name}}/{{slot.build_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Compare</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="abort-slot" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Abort slot</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <b><span class="text-danger">abort</span>
                        <span id="abort-slot-id" class="text-primary"></span></b>?
                </p>
                <p>Note that your user name will be recorded for debug
                    purposes for a maximum of 3 months.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="abort-slot-confirm" abort-url=""
                    onclick="do_abort_slot()">Abort slot</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- https://cdnjs.com/libraries/bootstrap-datepicker -->
<link href="/static/css/bootstrap-datepicker.min.css" rel="stylesheet">
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/filters.js"></script>
{%- if slots|length > 1 -%}
<script>
    // Make sure the panel with the list of slots in the page does not overflow
    $(document).ready(function () {
        fit_slots_links_menu();
        $(window).resize(function () {
            fit_slots_links_menu();
        });
    });
    function fit_slots_links_menu() {
        var window_height = $(window).height() - 100;
        var n_of_slots = $("#slots_links > a.btn").length;
        var slot_height = 35 + 10; // button height + 2 margins
        var slot_width = 220 + 10; // button width + 2 margins
        var max_rows = window_height / slot_height;
        var slots_per_row = Math.ceil(n_of_slots / max_rows);
        $('#rightSlideBar .panel-rightbody').css('width', slots_per_row * slot_width + 45);
    }
</script>{% endif %}
<script>
    function abort_slot_check(slot_id) {
        $('#abort-slot-id').text(slot_id);
        $('#abort-slot').modal('show');
    }
    function do_abort_slot() {
        var slot_id = $('#abort-slot-id').text();
        if (slot_id) {
            $.post('/api/v1/' + slot_id + '/abort', function () { window.location.reload(true); });
        }
    }
</script>
{%- if week_dates -%}
<script>
    $('#datepicker').datepicker({
        format: "yyyy-mm-dd",
        todayHighlight: true,
        todayBtn: true,
        endDate: "0d",
        // {%- if day and day != "latest" %}
        datesDisabled: "{{day}}",
        // {%- endif %}
    }).on('changeDate', function () {
        // switch to specific date page
        window.location.href = "{{url_for('main', flavour=flavour, day='YYYY-MM-DD')}}".replace(/YYYY-MM-DD/, $('#datepicker').datepicker('getFormattedDate'));
    });
    // {%- if day != "latest" %}
    $('#datepicker tfoot').append('<tr><th colspan="7"><a href="">Go to latest builds</a></th></tr>');
    // {%- endif %}
</script>
{%- endif -%}
{% endblock %}
